.page {
    
    &--blog-bg {
        background-color: #b07cf7;
    }

    &__blog-header {
        margin: 0 -15px;
        padding: 80px 15px 40px 15px;
    
        @media screen and (max-width: 991px) {
            padding-top: 70px;
            padding-bottom: 15px;
        }

        @media screen and (max-width: 767px) {
            padding-top: 50px;
            padding-bottom: 15px;
        }
    }
}
.blog-header {
    max-width: 570px;
    text-align: center;
    margin: 0 auto;

    &__caption {
        font-size: 90px;
        font-weight: 700;
        color: #fff;
        margin: 0 0 31px 0;

        @media screen and (max-width: 991px) {
            font-size: 60px;
            margin: 0 0 15px 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 40px;
            margin: 0 0 15px 0;
        }
    }

    &__description {
        font-size: 17px;
        line-height: 25px;
        font-weight: 300;
        color: #fff;

        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }
}
.blog-block {
    position: relative;
    height: 310px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-duration: 0.3s;

    @media screen and (max-width: 767px){
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 546px;
        margin: 0 0 15px 0;
    }

    @media screen and (max-width: 480px) {
        height: 310px;
    }
    
    &:focus,
    &:hover {
        transform: scale(1.1, 1.1);

        @media screen and (max-width: 991px) {
            transform: scale(1.0, 1.0);
        }
    }

    &--img1 {
        background-image: url(../images/blog/img1.jpg);
    }

    &--img2 {
        background-image: url(../images/blog/img2.jpg);
    }

    &--img3 {
        background-image: url(../images/blog/img3.jpg);
    }

    &__date {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        background-color: rgba(85, 92, 100, 0.5);
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 32px;
        line-height: 28px;
        font-weight: 700;
        text-align: center;

        @media screen and (max-width: 991px) {
            width: 50px;
            height: 50px;
            font-size: 26px;
            line-height: 24px;
            top: 20px;
            left: 20px;
        }
    }

    &__month {
        font-size: 21px;
        font-weight: 900;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 2px;
        
        @media screen and (max-width: 991px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__text {
        width: 100%;
        padding: 25px 20px;
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    
        @media screen and (max-width: 991px) {
            padding: 20px 15px;
        }
    }

    &__caption {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 20px;

        @media screen and (max-width: 991px) {
            font-size: 18px;
            line-height: 23px;
        }
    }

    &__autor {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
    }
}
.page__blog-btn {
    padding: 50px 0 120px 0;

    @media screen and (max-width: 991px) {
        padding: 30px 0 70px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 15px 0 50px 0;
    }
}
.blog-btn {
    display: block;
    margin: 0 auto;
    background-color: $BlogBtnMainColor;

    &:focus,
    &:hover {
        color: $BlogBtnMainColor;
        background-color: #fff;
    }

    &:active {
        color: $BlogBtnMainColor;
        background-color: #fff;
        border: 2px solid $BlogBtnMainColor;
        box-sizing: border-box;
    }
}