.page-header {
    max-height: 147px;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;
}
.logo {

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}
.logo__link {
    font-family: $FontFamilyLogo;
    color: $FontTextColor;
    font-size: 50px;

    @media screen and (max-width: 991px) {
        font-size: 34px;
    }

    @media screen and (max-width: 767px) {
        font-size: 28px;
    }    
}

.hamburger {
    position: relative;
    width: 42px;
    height: 42px;
    margin: 5px 0 5px auto;

    &__line {
        position: absolute;
        left: 0;
        display: block;
        height: 5px;
        width: 100%;
        background-color: #333333;
        border-radius: 4px;
        transition: 0.5s ease;

        &:nth-child(1) {
            top: 4px;
        }

        &:nth-child(2) {
            top: 19px;
        }

        &:nth-child(3) {
            bottom: 4px;
        }
    }

    &--open {
         .hamburger__line {
            transform-origin: center;
            transition: 0.3s;

            &:nth-child(1) {
                transform: rotate(45deg) translateY(20px);
            }
    
            &:nth-child(2) {
                opacity: 0;
                transform: translatex(50px)
            }
    
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-20px);;
            }
         }   
    }
}

.menu {
    display: flex;
    margin: 0 -15px;
    padding: 0 15px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    @media screen and (max-width: 767px) {
        display: none;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        margin: 0;
    }

    &__block {
        padding: 0 20px 0 0;
        
        @media screen and (max-width: 767px) {
            padding: 15px 0 !important;
        }

        &:last-child {
            padding: 0px;
        }
    }

    &__block {

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: 700;
        color: $FontFamilyMain;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            font-size: 14px;
        }

        @media screen and (max-width: 767px) {
            font-size: 24px;
        }

        &:focus, 
        &:hover {
            text-decoration: overline;
            text-decoration-color: #ff6033;
        }
    }
}