.page {

    &--services-bg {
        background-color: #70bfff;
        background-image: url(../images/bg-services.jpg);
    }
}
.row-services {
    padding-top: 180px;
    padding-bottom: 150px;

    @media screen and (max-width: 991px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.services-menu {
    max-width: 400px;
    margin: 0 0 0 100px;

    @media screen and (max-width: 991px) {
        margin: 0 auto;
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100px;
        background-color: #fff;
        margin: 0 0 20px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    
        @media screen and (max-width: 991px) {
            height: 80px;
        }

        @media screen and (max-width: 767px) {
            height: 70px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:focus,
        &:hover {
            background-color: #aaf1aa;
        }
    }

    &__link-name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 20px;
        font-weight: 700;
        color: $FontTextColor;
        line-height: 27px;
        border-right: 1px solid #9d9d9d;
        text-align: center;
        flex-grow: 1;

        @media screen and (max-width: 991px) {
            font-size: 18px;
        }

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }

    &__link-img {
        display: block;
    }

    &__img {
        width: 55px;
        height: 55px;
        fill: $FontTextColor;
        padding: 0 10px;
        box-sizing: content-box;

        @media screen and (max-width: 575px) {
            width: 40px;
            height: 40px;
        }
    }
}
.services-menu__link:active .services-menu__img {
    transform:  scale(1.1, 1.1);

    @media screen and (max-width: 991px) {
        transform:  scale(1.0, 1.0);
    }
}
.services-text {
    display: flex;
    height: 100%;
    align-items: center;

    @media screen and (max-width: 991px) {
        justify-content: center;
        padding: 0 0 15px 0;
    }

    &__caption {
        font-size: 90px;
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
        text-align: right;

        @media screen and (max-width: 991px) {
            font-size: 60px;
        }

        @media screen and (max-width: 767px) {
            font-size: 40px;
        }
    }
}