$FontFamilyMain: 'Raleway', sans-serif;
$FontFamilyLogo: 'Pacifico', cursive;

$FontTextColor: #262626;
$FooterFontTextColor: #b9b9b9;
$ArticleBtnMainColor: #ff6033;
$GalleryBtnMainColor: #5585a2;
$SubscribeBtnMainColor: #96b92c;
$BlogBtnMainColor: #f72b3b;
$ContactFormMainColor: #00c4c4;